.App {
	text-align: center;
}
body {
	background: #eee;
	font-family: sans-serif;
}
.row {
	display: flex;
	width: 90%;
	flex-direction: row;
	margin: 0 auto;
	background: #fff;
	justify-content: space-evenly;
	border-bottom: 4px solid orangered;
}
.NewConfirmed,
.TotalConfirmed,
.NewDeaths,
.TotalDeaths,
.NewRecovered,
.TotalRecovered {
	padding: 20px;
	text-align: center;
	margin: 0 auto;
}
.NewConfirmed {
	color: orangered;
}
.TotalConfirmed {
	color: blueviolet;
}
.NewDeaths {
	color: greenyellow;
}
.TotalDeaths {
	color: skyblue;
}
.NewRecovered {
	color: gold;
}
.TotalRecovered {
	color: royalblue;
}
table {
	border-collapse: separate;
	margin: 0 auto;
	width: 90%;
	border-spacing: 0 12px;
}
table thead tr {
	background: #fff;
}
table thead tr th {
	padding: 12px;
	text-align: left;
}
table tbody tr {
	background: #fff;
}
table tbody tr td {
	padding: 12px;
	text-align: left;
}
.pagination {
	display: inline-block;
}

.pagination a {
	/* position: fixed; */
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}
.pagination a:hover {
	background-color: #ddd;
	border-radius: 5px;
}
